:root {
  --customPurple: #9b51e0;
}

.NavBar {
  display: flex;
  justify-content: space-around;
}

.Link {
  text-decoration: none;
}

.NavItem {
  color: black;
  font-size: large;
  line-height: 3em;
}

.SelectedNavItem {
  color: var(--customPurple);
  font-size: large;
  line-height: 3em;
  font-weight: bold;
}
