:root {
  --height: 400px;
}

.Lobby {
  margin: auto;
  background-image: url("./assets/homepage/Lobby.png");
  background-position: center;
  height: var(--height);
  background-size: cover;
  margin-bottom: 5em;
}

.Wedding {
  margin: auto;
  background-image: url("./assets/homepage/Wedding.png");
  background-position: center;
  height: var(--height);
  background-size: cover;
  margin-bottom: 5em;
}

.Rooms {
  margin: auto;
  background-image: url("./assets/rooms/roomsBackground.png");
  background-position: center;
  height: var(--height);
  background-size: cover;
  margin-bottom: 5em;
}

.Facilities {
  margin: auto;
  background-image: url("./assets/facilities/facilitiesBackground.png");
  background-position: center;
  height: var(--height);
  background-size: cover;
  margin-bottom: 5em;
}

.Lobby > #Text,
.Wedding > #Text,
.Rooms > #Text,
.Facilities > #Text {
  color: white;
  padding-top: calc(var(--height) / 2);
}

.Lobby > #ReserveButton {
  color: white;
}

.Wedding > #AdditionalText {
  color: white;
}
